

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 72px;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  nav .logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  nav .logo h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2e2e2e;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
  
  }
  
  nav ul li {
    font-weight: 500;
   
  }
  
  nav ul li a {
    color: #2e2e2e;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    
    
  }
  
  nav ul li a:hover {
    color: #d01c28; 
    transform: translateY(-2px); 
  }
  

  button {
    padding: 8px 20px;
    background-color:black;
    color:white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s ease;
  }

  
  
  button:hover {
    background-color: #b01721; 
  }
  
  /* Responsive Design */
  
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul {
      flex-direction: column;
      gap: 16px;
      margin-top: 20px;
    }
  
    nav .logo {
      flex-direction: column;
      gap: 8px;
    }
  
    button {
      margin-top: 10px;
    }
  }
  




















































/* :root{
    --red:#d01c28;
    --gray:#2e2e2e;

}
*{
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;

}

button{
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    color: white;
    font-weight: 500;
   
}
.container {
    margin: 0 auto;
    max-width: 1280px;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.hero h1{
    font-weight: 500;
    line-height: 102px;
    font-size: 108px;
    text-transform: uppercase;
}

.hero p{
    font-weight: 600;
    color:var(--gray);
    max-width:500px;
    text-transform: uppercase;
    line-height: 25px;
  
}
.hero-btn{
    display: flex;
    gap: 40px;

}

.secondary-btn {
    background-color: transparent;
    color: #2e2e2e;
    border: 1px solid grey;
} */